<div class="container-fluid">
    <form (ngSubmit)="submitQuotes()">
  
      <br>
      <br>
  
       <div class="form-group">
       <label for="name"><strong>Person's Name:</strong></label>
       <input type="text"  name="publisher" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quotesPublisher" placeholder="Write Your Name Here:">
      </div>
  
      <div class="form-group">
          <label for="quotes"><strong>Quotes:</strong></label>
          <input type="text" name="quotes" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quotestr" placeholder="Add Your Quote Here:">
      </div>
  
      <div class="form-group">
          <label for="author"><strong>Author:</strong></label>
          <input type="text" name="author" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="quotesAuthor" placeholder="Add Name of the Author Here:">
      </div>
  
      <button type="submit" class="btn btn-primary">Post Quotes</button>
    </form>
  </div>
  
